/* Variables */
:root {
    --primario: #706a20;
    --secundario: #800040;
    --terciario: #333;
    --cuarto: #625f5f;
    --blanco: #FFF;
    --negro: #000;
    /*--fuente-principal: 'Staatliches', cursive;   */
    --fuente-principal: 'ArialBlack', cursive;
    --fuente-secundaria: 'Arial', cursive;
}
 
/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--blanco);
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--fuente-principal);
    color: var(--negro);
    margin: 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.6rem;
    color: var(--negro);
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: auto;
}

/* Contenedor principal */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}




