/* ====== ANIMACIONES OPCIONALES ====== */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ====== BOTÓN TOGGLER ====== */
.navbar__toggler {
    cursor: pointer;
    background-color: var(--secundario);
    color: var(--blanco);
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem; /* o la cantidad que quieras */

}

/* ====== MENÚ LATERAL IZQUIERDO TIPO CARRITO ====== */
.menu__sidebar {
    position: absolute;
    top: 80px;
    left: -300px;
    width: 300px;
    height: calc(100vh - 80px);
    background-color: var(--secundario);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 2rem 0 2rem;
    padding-top: 1rem; /* Separación superior */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.menu__sidebar.open {
    left: 0;
}

.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
    background-color: var(--primario);
    padding: 1rem 0;
}

.menu__header h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--blanco);
}

.close-menu {
    background: none;
    border: none;
    color: var(--blanco);
    font-size: 1.5rem;
    cursor: pointer;
}

.menu__nav {
    list-style: none;
    padding: 2rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__item {
    width: 100%;
}

.menu__link {
    color: var(--blanco);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    transition: background 0.3s, color 0.3s;
}

.menu__link:hover {
    background-color: var(--primario);
    color: var(--secundario);
}
.menu__footer {
    padding: 1rem;
    background-color: var(--primario);
    color: var(--blanco);
    text-align: center;
    position: sticky;
    bottom: 1rem;
}
