<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Bot</title>

    <!-- Carga de Hojas de Estilo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <!-- Botón del menú con el SVG -->
            <div class="navbar__container">
                <!-- Botón para abrir/cerrar el menú -->
                <button id="menu-toggle" class="navbar__toggler">☰</button>
                <div class="navbar__collapse" id="menu">
                    <ul class="navbar__nav">
                        <li class="navbar__item"><a href="{{ url_for('index') }}" class="navbar__link">Menú</a></li>

                        <li class="navbar__item"><a href="{{ url_for('info') }}" class="navbar__link">Información</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main container">
        <h2 class="main__title">Sobre el proyecto</h2>

    </main>
  
<!-- FOOTER-->
<footer class="footer bg-dark text-white text-center py-3">
    <!-- <p class="footer__text">Todos los derechos reservados. &copy; 2024 UPIITA-IPN.</p>-->
    <div>Todos los derechos reservados. &copy; 2024 UPIITA-IPN.</div>
</footer>

    <!-- Scripts -->
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
<script src="{{ url_for('static', filename='js/recetas.js') }}"></script>
<script src="{{ url_for('static', filename='js/info_bebidas.js') }}"></script>

    
</body>
</html>
